﻿@{
    ViewBag.Title = "Policies";
}

<div class="card card-override">
    <div class="card-body">
        <div style="overflow-y:auto;">
            <table id="policiesTable" class="table table-hover-override table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Policy Number
                        </th>
                        <th>
                            External Policy No.
                        </th>
                        <th>
                            Insurance Type
                        </th>
                        <th>
                            Start Date
                        </th>
                        <th>
                            End Date
                        </th>
                        <th>
                            Group Size
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/EnetelScripts/DataTables/PolicyDataTable.js"></script>
}