﻿
@{
    ViewBag.Title = "Invoices";
}

<div class="card card-override">
    <div class="card-body">
        <div style="overflow-y:auto;">
            <table id="invoicesTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Document No.
                        </th>
                        <th>
                            Policy No.
                        </th>
                        <th>
                            Period Start Date
                        </th>
                        <th>
                            Period End Date
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Due Date
                        </th>
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/EnetelScripts/DataTables/InvoiceDataTable.js"></script>
}
