﻿@model Enetel.DTO.CensusLineDTO
@using Enetel.DTO;
@{
    ViewBag.Title = "Details";
    Layout = null;
    PolicyDTO policyDTO = (PolicyDTO)TempData["policy"];
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

@Styles.Render("~/Content/css")

<br />

<div class="card card-override mb-4">
    <div class="card-body">
        <div class="display-flex">
            <h5 class="flex-item-vertical-center fw-3">Details For Census Line <strong>@Model.ene_CensusLinenumber</strong> on Policy <strong>@(policyDTO != null ? policyDTO.ene_policynumber : Model.ene_Policy)</strong></h5>
        </div>
    </div>
</div>

<div class="card card-override">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-sm-12">

                @if (Model.ene_InsuredRoleValue != 200000000 && Model.ene_InsuredRoleValue != null)
                {<div class="row">
                        <div class="col-md-5 left-container">
                            <label class="control-label highlight left-container-text" for="ene_PrincipalName">Principal</label>
                        </div>
                        <div class="col-md-7 right-container">
                            <span class="right-container-text">
                                @Model.ene_PrincipalName
                            </span>
                        </div>
                    </div>
                }


                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="ene_InsuredFullName">Insured Full Name</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @Model.ene_InsuredFullName
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="ene_Gender">Gender</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @Model.ene_Gender
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="ene_DateofBirth">Date Of Birth</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @Model.ene_DateofBirth.Value.ToString("dd-MM-yyyy");
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="ene_Age">Age</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @Model.ene_Age
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="ene_Salary">Salary</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @Model.ene_Salary
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="ene_SalaryCurrency">Salary Currency</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @Model.ene_SalaryCurrency
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="ene_DateLeft">Date Left</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @if (Model.ene_DateLeft != null)
                            {
                                Model.ene_DateLeft.Value.ToString("dd-MM-yyyy");
                            }
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="ene_SumInsured">Sum Insured</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @Model.ene_SumInsured
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="ene_SumInsured">Sum Insured Currency</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @Model.ene_SumInsuredCurrency
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="CreatedOn">Created On</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @if (Model.CreatedOn != null)
                            {
                                Model.CreatedOn.Value.ToString("dd-MM-yyyy");
                            }
                        </span>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="ene_InsuredCategoryforCover">Insured Category for Cover</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @Model.ene_InsuredCategoryforCover
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="ene_Ageatenrollment">Age At Enrollment</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @Model.ene_Ageatenrollment
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">

                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="ene_InsuredCategoryforCover">Insured Category For Cover</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @Model.ene_InsuredCategoryforCover
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="ene_InitialRate">Initial Rate</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @Model.ene_InitialRate
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="ene_SalaryDescription">Salary Description</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @Model.ene_SalaryDescription
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="ene_PaymentResponsible">Payment Responsible</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @Model.ene_PaymentResponsible
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 left-container">
                        <label class="control-label highlight left-container-text" for="ene_MembershipCard">Membership Card</label>
                    </div>
                    <div class="col-md-7 right-container">
                        <span class="right-container-text">
                            @Model.ene_MembershipCard
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
