﻿@using PagedList;
@using PagedList.Mvc;
@using Enetel.DTO;
@using Enetel.BLL.Helpers;
@using Enetel.DAL.Models;

@model StaticPagedList<CensusLineDTO>

@{
    ViewBag.Title = "Census Lines";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PolicyDTO policy = (PolicyDTO)TempData["policy"];
    List<KeyValuePair<int, string>> states = (List<KeyValuePair<int, string>>)TempData["states"];
}

<div class="card card-override mb-4">
    <div class="card-body">
        <div class="display-flex">
            <h5 class="flex-item-vertical-center">Census Lines for Policy <strong>@(policy.ene_policynumber)</strong></h5>
            @if (policy.ene_policyStatus.ToUpper() == "ACTIVE") {
            <a href="/CensusChangeReq/Create/@policy.Id"
               class="btn btn-default move-right-flex actionButton"
               id="addNewCensusLine"
               name="addNewCensusLine"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add New</a>
            }
        </div>
    </div>
</div>

<div class="card card-override">
    <div class="card-body">
        <div style="overflow-y:auto;">
            <table id="censusLinesTable" class="table table-hover-override table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Census Line Number
                        </th>
                        <th>
                            Full Name
                        </th>
                        <th>
                            Unique ID
                        </th>
                        <th>
                            Insured Role
                        </th>
                        <th>
                            Plan
                        <th>
                            Date Joined
                        </th>
                        <th>
                            Rate
                        </th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<input type="hidden" value="@policy.Id" id="policyId"/>
<input type="hidden" value="@policy.ene_insuranceType.Value" id="insuranceType" />

@section scripts{
    <script src="~/Scripts/EnetelScripts/DataTables/CensusLineDataTable.js"></script>

    @if (TempData.ContainsKey("changeRequestExists") && (bool)TempData["changeRequestExists"]) {
        <script>
            toastr.warning("Selected census line already has a change request pending!");
        </script>
    }
}

