﻿@model Enetel.DTO.ChangeRequestDTO

@{
    ViewBag.Title = "Census Change Request Create";
    int insuranceType = (int)TempData["insuranceType"];
}

<div class="card card-override mb-4">
    <div class="card-body">
        <div class="display-flex">
            <h5 class="flex-item-vertical-center fw-3">Request for adding new Census Line on Policy <strong>@(Model.tmp_PolicyNumber)</strong></h5>
            @*<a href="javascript:history.go(-1)" class="btn btn-default btn-sm move-right move-right-flex actionButton" data-toggle="tooltip" data-placement="top" title="Back to previous page"><i class="fa fa-arrow-left"></i> Back</a>*@
        </div>
    </div>
</div>

<div class="card card-override">
    <div class="card-body">
        @using (Html.BeginForm("Create", "censuschangereq", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Policy)
            @Html.HiddenFor(model => model.tmp_PolicyNumber)
            <input type="hidden" id="RequestTypeNumber" name="RequestTypeNumber" value="@((int)Enetel.DTO.enum_RequestType.NEW)" />
            <input type="hidden" id="CensusLineId" name="CensusLineId" value="@(Model.CensusLineId)" />

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Insured, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <input id="InsuredCont" type="text" class="form-control" />
                        @Html.HiddenFor(model => model.Insured, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Insured, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group collapse">
                    @Html.LabelFor(model => model.ThispersonisPaymentResponsible, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ThispersonisPaymentResponsible, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ThispersonisPaymentResponsible, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EnumDropDownListFor(m => m.Gender, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PaymentResponsible, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <input id="PaymentResponsibleCont" type="text" value="@(Model.tmp_PaymentResponsibleFullName??"")" class="form-control" />
                        <input type="hidden" id="PaymentResponsible" name="PaymentResponsible" value="@(Model.PaymentResponsible)" />
                        @Html.ValidationMessageFor(model => model.PaymentResponsible, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group collapse">
                    @Html.LabelFor(model => model.ThispersonisReportingResponsible, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ThispersonisReportingResponsible, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ThispersonisReportingResponsible, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.DateofBirth, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <input type="date" id="DateOfBirth" name="DateOfBirth" data-date="" data-date-format="DD.MM.YYYY" class="form-control" readonly>
                        @*@Html.EditorFor(model => model.DateofBirth, new
                        {
                            htmlAttributes = new
                            {
                                @class = "form-control",
                                data_date = "",
                         data_date_format = "DD.MM.YYYY",
                                type = "date"
                            }
                        })*@
                        @Html.ValidationMessageFor(model => model.DateofBirth, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group collapse">
                    @Html.LabelFor(model => model.PersonsAccount, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <input id="PersonsAccountCont" type="text" class="form-control" readonly="readonly" />
                        @Html.HiddenFor(model => model.PersonsAccount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PersonsAccount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.externalID, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.externalID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.externalID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Citizenship, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <select id="Citizenship" name="Citizenship" class="form-control" required></select>
                        @Html.ValidationMessageFor(model => model.Citizenship, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ResidenceCountry, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <select id="ResidenceCountry" name="ResidenceCountry" class="form-control" required="required"></select>
                        @Html.ValidationMessageFor(model => model.ResidenceCountry, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.InsuredRole, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EnumDropDownListFor(m => m.InsuredRole, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.InsuredRole, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div id="div_Principal" class="form-group">
                    @Html.LabelFor(model => model.Principal, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <input id="PrincipalCont" type="text" class="form-control" readonly="readonly" />
                        @Html.HiddenFor(model => model.Principal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Principal, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Plan, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <input id="tmp_Plan" value="@(Model.Plan)" type="hidden" />
                        <select id="Plan" name="Plan" class="form-control"></select>
                        @Html.ValidationMessageFor(model => model.Plan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DateJoined, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.DateJoined, new
                        {
                            htmlAttributes = new
                            {
                                @class = "form-control",
                                data_date = "",
                                data_date_format = "DD.MM.YYYY",
                                type = "date"
                            }
                        })
                       
                        @Html.ValidationMessageFor(model => model.DateJoined, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (insuranceType == 141)
                {
                <div class="form-group">
                    @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                        @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SalaryCurrencyId, "Salary Currency", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <input id="SalaryCurrencyIdTmp" name="SalaryCurrencyId" value="@(Model.SalaryCurrencyId)" type="hidden">
                        <select id="SalaryCurrencyId" name="DDSalaryCurrencyId" class="form-control" disabled></select>
                        @Html.ValidationMessageFor(model => model.SalaryCurrencyId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SalaryDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.SalaryDescription, new { @class = "form-control", @style = "height:100px" })
                        @Html.ValidationMessageFor(model => model.SalaryDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
                }
                <div class="form-group collapse">
                    @Html.LabelFor(model => model.SumInsured, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.SumInsured, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                        @Html.ValidationMessageFor(model => model.SumInsured, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group collapse">
                    @Html.LabelFor(model => model.SumInsuredCurrencyId, "Sum Insured Currency", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <select id="SumInsuredCurrencyId" name="SumInsuredCurrencyId" class="form-control"></select>
                        @Html.ValidationMessageFor(model => model.SumInsuredCurrencyId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @style = "height:200px" })
                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a id="save" class="btn btn-default btn-default-border btn-sm move-right-flex actionButton"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/changerequest")

    <script>
        $(document).ready(() => {
            $("#SalaryCurrencyId, #SumInsuredCurrencyId").append(`<option value="">Choose Currency</option>`);

            $.ajax({
                url: "/Home/GetCurrencies",
                type: "GET",
                dataType: "json",
                success: function (data) {

                    for (var i = 0; i < data.data.length; i++) {
                        $("#SalaryCurrencyId").append(`<option ${"@Model.SalaryCurrencyId" == data.data[i].Key ? "selected" : ""} value="${data.data[i].Key}">${data.data[i].Value}</option>`);
                        $("#SumInsuredCurrencyId").append(`<option ${"@Model.SumInsuredCurrencyId" == data.data[i].Key ? "selected" : ""} value="${data.data[i].Key}">${data.data[i].Value}</option>`);
                    }
                    $("#SalaryCurrencyId").val($("#SalaryCurrencyIdTmp").val());

                }
            })
        })

        $(document).ready(() => {
            $("#Citizenship").append(`<option value="">Choose Citizenship</option>`);
            $("#ResidenceCountry").append(`<option value="">Choose Residence Country</option>`);

            $.ajax({
                url: "/Home/GetCountries",
                type: "GET",
                dataType: "json",
                success: function (data) {

                    for (var i = 0; i < data.data.length; i++) {
                        $("#Citizenship").append(`<option ${"@(Model?.Citizenship)" == data.data[i].id ? "selected" : ""} value="${data.data[i].id}">${data.data[i].name}</option>`);
                        $("#ResidenceCountry").append(`<option ${"@(Model?.ResidenceCountry)" == data.data[i].id ? "selected" : ""} value="${data.data[i].id}">${data.data[i].name}</option>`);
                    }
                }
            })
        })
    </script>

    <script>
        $("#save").on("click", () => {
            $("form").submit();
        })
    </script>

    <script>
        $(document).keypress(
          function (event) {
              if (event.which == '13') 
                  event.preventDefault();
          });
    </script>
}

