﻿@using Enetel.DTO;
@model Enetel.DTO.ChangeRequestDTO

@{
    ViewBag.Title = "Edit";
    Enetel.DTO.ChangeRequestDTO a = Model;
    PolicyDTO policy = (PolicyDTO)ViewData["policy"];
    int insuranceType = policy.ene_insuranceType != null ? (int)policy.ene_insuranceType.Value : 0;
    string censusLineNo = (string)ViewData["censusLineNo"];
}

<div class="card card-override mb-4">
    <div class="card-body">
        <div class="display-flex">
            <h5 class="flex-item-vertical-center fw-3">Edit Request For Census Line <strong>@censusLineNo</strong> on Policy <strong>@(policy != null ? policy.ene_policynumber : Model.tmp_PolicyName)</strong></h5>
            <a class="btn btn-default btn-sm move-right-flex actionButton" id="terminate" href="#" data-toggle="tooltip" data-placement="top" title="Revoke"><i class="fa fa-history"></i>&nbsp;Revoke</a>
            @*<a href="javascript:history.go(-1)"  class="btn btn-default btn-sm move-right actionButton" data-toggle="tooltip" data-placement="top" title="Back to previous page"><i class="fa fa-chevron-left"></i> Back</a>*@
        </div>
    </div>
</div>

<div class="modal fade" id="terminateModal" tabindex="-1" role="dialog" aria-labelledby="terminateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="terminateModalLabel">Revoke Census Line</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="terminateErrorContainer"></div>
                <input type="hidden" id="censusLineId" value="@Model.CensusLineId" />
                <div class="form-group">
                    <label class="control-label col-md-12">Revocation Date</label>
                    <div class="col-md-12">
                        <input type="date" id="terminationDate" name="terminationDate" data-date="" data-date-format="DD.MM.YYYY" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="terminateCensusLine" type="button" class="btn btn-primary btn-sm">Revoke</button>
            </div>
        </div>
    </div>
</div>

<div class="card card-override">
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Policy)
            <input type="hidden" id="RequestTypeNumber" name="RequestTypeNumber" value="@((int)Enetel.DTO.enum_RequestType.EDIT)" />
            <input type="hidden" id="CensusLineId" name="CensusLineId" value="@(Model.CensusLineId)" />
            <input type="hidden" id="DateJoined" name="DateJoined" value="@(Model.DateJoined)" />
            <input type="hidden" id="Citizenship" name="Citizenship" value="@(Model.Citizenship)" />
            <input type="hidden" id="DateLeft" name="DateLeft" value="@(Model.DateLeft)" />
            <input type="hidden" id="externalID" name="externalID" value="@(Model.externalID)" />
            <input type="hidden" id="Gender" name="Gender" value="@(Model.Gender)" />
            <input type="hidden" id="Insured" name="Insured" value="@(Model.Insured)" />
            <input type="hidden" id="InsuredRole" name="InsuredRole" value="@(Model.InsuredRole)" />
            <input type="hidden" id="Name" name="Name" value="@(Model.Name)" />
            <input type="hidden" id="PaymentResponsible" name="PaymentResponsible" value="@(Model.PaymentResponsible)" />
            <input type="hidden" id="PersonsAccount" name="PersonsAccount" value="@(Model.PersonsAccount)" />
            <input type="hidden" id="PersonsAccountId" name="PersonsAccountId" value="@(Model.PersonsAccountId)" />
            <input type="hidden" id="Plan" name="Plan" value="@(Model.Plan)" />
            <input type="hidden" id="Policy" name="Policy" value="@(Model.Policy)" />
            <input type="hidden" id="PortalUser" name="PortalUser" value="@(Model.PortalUser)" />
            <input type="hidden" id="Principal" name="Principal" value="@(Model.Principal)" />
            <input type="hidden" id="ReportingResponsible" name="ReportingResponsible" value="@(Model.ReportingResponsible)" />
            <input type="hidden" id="ResidenceCountry" name="ResidenceCountry" value="@(Model.ResidenceCountry)" />
            <input type="hidden" id="SalaryCurrency" name="SalaryCurrency" value="@(Model.SalaryCurrency)" />
            <input type="hidden" id="SalaryCurrencyId" name="SalaryCurrencyId" value="@(Model.SalaryCurrencyId)" />
            <input type="hidden" id="SumInsured" name="SumInsured" value="@(Model.SumInsured)" />
            <input type="hidden" id="SumInsuredCurrencyId" name="SumInsuredCurrencyId" value="@(Model.SumInsuredCurrencyId)" />
            <input type="hidden" id="SumInsuredCurrency" name="SumInsuredCurrency" value="@(Model.SumInsuredCurrency)" />
            <input type="hidden" id="tmp_CensusLineName" name="tmp_CensusLineName" value="@(Model.tmp_CensusLineName)" />
            <input type="hidden" id="tmp_InsuredName" name="tmp_InsuredName" value="@(Model.tmp_InsuredName)" />
            <input type="hidden" id="DateofBirth" name="DateofBirth" value="@(Model.DateofBirth)" />

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EnumDropDownListFor(m => m.Gender, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (insuranceType == 141)
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                            @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SalaryDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.SalaryDescription, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SalaryDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                else
                {
                    @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control", type = "number", @style="display:none" } })
                    @Html.HiddenFor(model => model.SalaryDescription, new { @class = "form-control" })
                }

                <div class="form-group">
                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a id="save" class="btn btn-default btn-default-border btn-sm move-right-flex actionButton"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/changerequest")

    @Scripts.Render("~/Content/js")

    <script>
        $("#terminate").on("click", () => {
            $("#terminateModal").modal();
        })

        $("#terminateCensusLine").on("click", (e) => {
            let oldButtonText = $(e.target).text();

            $(e.target).html(`<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>`);

            let terminationDate = $("#terminationDate").val();
            let censusLineId = $("#censusLineId").val();

            $.ajax({
                url: "/CensusChangeReq/Termination",
                type: "POST",
                data: {
                    censusLineId: censusLineId,
                    terminationDate: terminationDate
                },
                dataType: "json",
                success: (res) => {

                    $(e.target).html(oldButtonText);

                    if (res.Code != 200) {
                        $("#terminateErrorContainer").html(`<div class="alert alert-danger alert-dismissible fade show center" role="alert">
                                                                        ${res.Message}
                                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>`);
                        return;
                    } else {
                        toastr.success(res.Message);
                        $("#terminateModal").modal("hide");
                        window.location.href = "/CensusChangeReq/Index"
                    }
                },
                error: (err) => {

                }
            })
        })
    </script>

    <script>
        $(document).ready(() => {
            $("#SalaryCurrencyId, #SumInsuredCurrencyId").append(`<option selected value="">Choose Currency</option>`);

            $.ajax({
                url: "/Home/GetCurrencies",
                type: "GET",
                dataType: "json",
                success: function (data) {

                    for (var i = 0; i < data.data.length; i++) {
                        $("#SalaryCurrencyId").append(`<option ${"@Model.SalaryCurrencyId" == data.data[i].Key ? "selected" : ""} value="${data.data[i].Key}">${data.data[i].Value}</option>`);
                        $("#SumInsuredCurrencyId").append(`<option ${"@Model.SumInsuredCurrencyId" == data.data[i].Key ? "selected" : ""} value="${data.data[i].Key}">${data.data[i].Value}</option>`);
                    }
                }
            })
        })
    </script>

    <script>
            $("#save").on("click", () => {
                $("form").submit();
            })
    </script>

    <script>
        $(document).keypress(
          function (event) {
              if (event.which == '13')
                  event.preventDefault();
          });
    </script>
}



