﻿@using PagedList;
@*@using PagedList.Mvc;
    @using Enetel.BLL.Helpers;*@

@*@model StaticPagedList<Enetel.DTO.ChangeRequestDTO>*@

@{
    ViewBag.Title = "Census Lines Change Request";
}

<div class="card card-override">
    <div class="card-body">
        <div style="overflow-y:auto;">
            <table id="changeRequestsTable" class="table table-hover-override table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            ID
                        </th>
                        <th>
                            Created On
                        </th>
                        <th>
                            Full Name
                        </th>
                        <th>
                            Unique ID
                        </th>
                        <th>
                            Policy
                        </th>
                        <th>
                            Request Type
                        </th>
                        <th>
                            Request Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id='CensusLineDetailsModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='CensusLineDetailsModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/EnetelScripts/DataTables/CensusChangeRequestDataTable.js"></script>
}
