﻿@model Enetel.DTO.ChangeRequestDTO

@{
    ViewBag.Title = "Census Change Request Revoke";
    var policyName = (string)TempData["policyName"];
}

<div class="card card-override mb-4">
    <div class="card-body">
        <div class="display-flex">
            <h5 class="flex-item-vertical-center fw-3">Revoke Request For Policy <strong>@policyName</strong> </h5>
            @*<a href="javascript:history.go(-1)"  class="btn btn-default btn-sm move-right actionButton" data-toggle="tooltip" data-placement="top" title="Back to previous page"><i class="fa fa-chevron-left"></i> Back</a>*@
        </div>
    </div>
</div>


<div class="card card-override">
    <div class="card-body">

        @using (Html.BeginForm("Terminate", "CensusChangeReq", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.ReportingResponsible)
            @Html.HiddenFor(model => model.Policy)
            @Html.HiddenFor(model => model.PaymentResponsible)
            @Html.HiddenFor(model => model.Citizenship)
            @Html.HiddenFor(model => model.ResidenceCountry)
            @Html.HiddenFor(model => model.Plan)
            <input type="hidden" id="RequestTypeNumber" name="RequestTypeNumber" value="@((int)Enetel.DTO.enum_RequestType.TERMINATE)" />
            <input type="hidden" id="CensusLineId" name="CensusLineId" value="@(Model.CensusLineId)" />

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.DateLeft, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.DateLeft, new { htmlAttributes = new { @class = "form-control", @id = "dateLeft" } })
                        @Html.ValidationMessageFor(model => model.DateLeft, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof(Enetel.DTO.Gender))), "", new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SalaryDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.SalaryDescription, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.SalaryDescription, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DateofBirth, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <input type="date" id="DateofBirth" name="DateofBirth" data-date="" data-date-format="DD.MM.YYYY" value="@Model?.DateofBirth" class="form-control" readonly>
                        @Html.ValidationMessageFor(model => model.DateofBirth, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.YearOfBirth, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.YearOfBirth, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.YearOfBirth, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.externalID, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.externalID, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.externalID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DateJoined, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <input type="date" id="DateJoined" name="DateJoined" data-date="" data-date-format="DD.MM.YYYY" value="@Model?.DateJoined" class="form-control" readonly>
                        @Html.ValidationMessageFor(model => model.DateJoined, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SalaryCurrencyId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <select id="SalaryCurrencyId" name="SalaryCurrencyId" class="form-control" readonly></select>
                        @Html.ValidationMessageFor(model => model.SalaryCurrencyId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SumInsured, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.SumInsured, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.SumInsured, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SumInsuredCurrencyId, "Sum Insured Currency", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <select id="SumInsuredCurrencyId" name="SumInsuredCurrencyId" class="form-control"></select>
                        @Html.ValidationMessageFor(model => model.SumInsuredCurrencyId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PersonsAccount, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <input id="PersonsAccountCont" type="text" class="form-control" readonly="readonly" value="@(Model.PersonsAccount) " />
                        @Html.HiddenFor(model => model.PersonsAccount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PersonsAccount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a id="save" class="btn btn-default btn-default-border btn-sm move-right-flex actionButton"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/changerequest")

    <script>
        $(document).ready(() => {
            $("#SalaryCurrencyId, #SumInsuredCurrencyId").append(`<option selected value="">Choose Currency</option>`);

            $.ajax({
                url: "/Home/GetCurrencies",
                type: "GET",
                dataType: "json",
                success: function (data) {

                    for (var i = 0; i < data.data.length; i++) {
                        $("#SalaryCurrencyId").append(`<option ${"@Model.SalaryCurrencyId" == data.data[i].Key ? "selected" : ""} value="${data.data[i].Key}">${data.data[i].Value}</option>`);
                        $("#SumInsuredCurrencyId").append(`<option ${"@Model.SumInsuredCurrencyId" == data.data[i].Key ? "selected" : ""} value="${data.data[i].Key}">${data.data[i].Value}</option>`);
                    }
                }
            })
        })
    </script>

    <script>
            $("#save").on("click", () => {
                $("form").submit();
            })
    </script>

    <script>
        $(document).keypress(
          function (event) {
              if (event.which == '13')
                  event.preventDefault();
          });
    </script>
}