﻿@model Enetel.DTO.PersonDTO

@{
    ViewBag.Title = "Create";
    var genderList = (List<KeyValuePair<int?, string>>)ViewBag.GenderList;
}

<div class="card card-override">
    <div class="card-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, "First Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        <input type="text"
                               id="FirstName"
                               name="FirstName"
                               class="form-control"
                               @(Model != null && String.IsNullOrEmpty(Model.ExternalId) ? "required" : "")
                               value="@(Model != null ? Model.FirstName : "")" />
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, "Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        <input type="text"
                               id="LastName"
                               name="LastName"
                               class="form-control"
                               @(Model != null && String.IsNullOrEmpty(Model.ExternalId) ? "required" : "")
                               value="@(Model != null ? Model.LastName : "")" />
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ExternalId, "Unique ID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        <input type="text"
                               id="ExternalId"
                               name="ExternalId"
                               class="form-control"
                               @(Model != null && (String.IsNullOrEmpty(Model.FirstName) || String.IsNullOrEmpty(Model.FirstName)) ? "required" : "")
                               value="@(Model != null ? Model.ExternalId : "")" />
                        @Html.ValidationMessageFor(model => model.ExternalId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GenderCode, "Gender", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        <select id="GenderCode" name="GenderCode" class="form-control" required="required">
                            <option value="">Choose Gender</option>
                            @foreach (var item in genderList)
                            {
                                <option @(Model != null && Model.GenderCode == item.Key ? "selected" : "") value="@item.Key">@item.Value</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.GenderCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DateOfBirth, "Date Of Birth", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        <input type="date"
                               id="DateOfBirth"
                               name="DateOfBirth"
                               data-date=""
                               data-date-format="DD.MM.YYYY"
                               value="@(Model != null && Model.DateOfBirth != null ? Model.DateOfBirth.Value.ToString("yyyy-MM-dd") : "dd.MM.yyyy")"
                               class="form-control"
                               @(Model != null && Model.YearOfBirth == null ? "required" : "")>
                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.YearOfBirth, "Year Of Birth", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        <input type="text"
                               maxlength="4"
                               id="YearOfBirth"
                               name="YearOfBirth"
                               value="@(Model != null && Model.YearOfBirth != null ? Model.YearOfBirth.Value.ToString() : "")"
                               class="form-control"
                               @(Model != null && Model.DateOfBirth == null ? "required" : "") />
                        @Html.ValidationMessageFor(model => model.YearOfBirth, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Citizenship, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <select id="CitizenshipId" name="CitizenshipId" class="form-control" required="required"></select>
                        @Html.ValidationMessageFor(model => model.CitizenshipId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ResidenceCountryId, "Residence Country", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        <select id="ResidenceCountryId" name="ResidenceCountryId" class="form-control" required="required"></select>
                        @Html.ValidationMessageFor(model => model.ResidenceCountryId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a id="save" class="btn btn-default btn-default-border btn-sm move-right-flex actionButton"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(() => {
            $("#CitizenshipId").append(`<option value="">Choose Citizenship</option>`);
            $("#ResidenceCountryId").append(`<option value="">Choose Residence Country</option>`);

            $.ajax({
                url: "/Home/GetCountries",
                type: "GET",
                dataType: "json",
                success: function (data) {

                    for (var i = 0; i < data.data.length; i++) {
                        $("#CitizenshipId").append(`<option ${"@(Model?.CitizenshipId)" == data.data[i].id ? "selected" : ""} value="${data.data[i].id}">${data.data[i].name}</option>`);
                        $("#ResidenceCountryId").append(`<option ${"@(Model?.ResidenceCountryId)" == data.data[i].id ? "selected" : ""} value="${data.data[i].id}">${data.data[i].name}</option>`);
                    }
                }
            })

            $("#ExternalId").on("keyup", (e) => {
                let element = $(e.target);

                if (element.val())
                    $("#FirstName, #LastName").removeAttr("required");
                else
                    $("#FirstName, #LastName").attr("required", "required");
            })

            $("#FirstName, #LastName").on("keyup", () => {

                let firstname = $("#FirstName").val();
                let lastname = $("#LastName").val();
                debugger;
                if (firstname && lastname)
                    $("#ExternalId").removeAttr("required");
                else
                    $("#ExternalId").attr("required", "required");
            })

            $("#DateOfBirth").on("keyup", (e) => {
                let element = $(e.target);
                if (element.val())
                    $("#YearOfBirth").removeAttr("required");
                else
                    $("#YearOfBirth").attr("required", "required");
            })

            $("#DateOfBirth").on("input", (e) => {
                let element = $(e.target);
                document.getElementById("YearOfBirth").value = document.getElementById("DateOfBirth").value.split("-")[0];

                if (element.val())
                    $("#YearOfBirth").removeAttr("required");
                else
                    $("#YearOfBirth").attr("required", "required");
            })

            $("#YearOfBirth").on("keyup", (e) => {
                let element = $(e.target);

                if (element.val())
                    $("#DateOfBirth").removeAttr("required");
                else
                    $("#DateOfBirth").attr("required", "required");
            })

        })
    </script>

    <script>
        $("#save").on("click", () => {
            $("form").submit();
        })
    </script>

    <script>
        $(document).keypress(
          function (event) {
              if (event.which == '13')
                  event.preventDefault();
          });
    </script>

    @if(Model != null && Model.DateOfBirth != null)
    {
        <script>
            $(document).ready(() => {
                $("#DateOfBirth").val("@(Model != null && Model.DateOfBirth != null ? Model.DateOfBirth.Value.ToString("yyyy-MM-dd") : "dd.MM.yyyy")");
            });
        </script>
    }
}