﻿@{
    ViewBag.Title = "Persons";
    var documentTypes = (List<KeyValuePair<int, string>>)TempData["documentTypes"]; //u modalu za upload dokumenta
}

<div class="card card-override mb-4">
    <div class="card-body">
        <div class="display-flex">
            <a href="/Person/Create"
               class="btn btn-default btn-sm move-right-flex"
               id="addNewPerson"
               name="addNewPerson"><i class="fa fa-plus"></i>&nbsp;Add New</a>
        </div>
    </div>
</div>

<div class="card card-override">
    <div class="card-body">
        <div style="overflow-y:auto;">
            <table id="personsTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Full Name
                        </th>
                        <th>
                            Unique ID
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            Date Of Birth
                        </th>
                        <th>
                            Citizenship
                        </th>
                        <th>
                            Residence Country
                        </th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="UploadFileModal" tabindex="-1" role="dialog" aria-labelledby="UploadFileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="mb-4">
                    <h5 class="modal-title" style="display:inline;">Upload Document</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="p-2">

                    <input type="hidden" id="accountName" name="accountName" value="" />
                    <input type="hidden" id="personFullName" name="personFullName" value="" />
                    <input type="hidden" id="personId" name="personId" value="" />

                    <div class="form-group">
                        <label>Document Type:</label>
                        <select id="fileType" name="fileType" class="form-control">
                            <option value="0">Choose document type...</option>
                            @foreach (var documentType in documentTypes)
                            {
                                <option value="@(documentType.Key)">@(documentType.Value)</option>
                            }
                        </select>
                        <label id="fileTypeError" style="display:none;" class="error">File type is requeired!</label>
                    </div>
                    <div class="form-group">
                        <label>Document:</label>
                        <input id="file" name="file" type="file" style="display:block;" placeholder="Upload document" />
                        <label id="fileError" style="display:none;" class="error">File is requeired!</label>
                    </div>
                    <div class="display-flex">
                        <button id="uploadFileBtn" class="btn btn-default btn-sm move-right-flex"><i class="fa fa-arrow-circle-up"></i>&nbsp;Upload document</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/EnetelScripts/DataTables/PersonDataTable.js"></script>

    <script>
        $(document).on("click", "[name=uploadFile]", function (e) {

            $("#UploadFileModal").modal({
                backdrop: "static",
                keyboard: false
            })

            let accountName = e.currentTarget.dataset.accountname;
            let personFullName = e.currentTarget.dataset.personfullname;
            let personId = e.currentTarget.dataset.personid;

            $("#accountName").val(accountName);
            $("#personFullName").val(personFullName);
            $("#personId").val(personId);
        });

        $("#uploadFileBtn").on("click", function (e) {
            if (!validateForm())
                return;

            let formData = new FormData();

            formData.append("AccountName", $("#accountName").val());
            formData.append("PersonFullName", $("#personFullName").val());
            formData.append("PersonId", $("#personId").val());
            formData.append("File", $("input[type=file]")[0].files[0]);
            formData.append("FileType", $("#fileType").val());

            let oldButtonText = $("#uploadFileBtn").html();

            spinnerOn($("#uploadFileBtn"));

            $.ajax({
                url: "/Person/UploadDocument",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: (data) => {

                    if (data.code == 200) {
                        toastr.success(data.message);
                        $("#UploadFileModal").modal("hide");
                        spinnerOff($("#uploadFileBtn"), oldButtonText);
                        return;
                    }

                    toastr.error(data.message);
                    spinnerOff($("#uploadFileBtn"), oldButtonText);
                },
                error: (err) => {
                    spinnerOff($("#uploadFileBtn"), oldButtonText);
                }
            })
        })

        function validateForm() {
            let isValid = true;
            let fileTypeValue = $("#fileType").val();
            let file = $("#file").val();

            if (!fileTypeValue || fileTypeValue == "0") {
                isValid = false;
                $("#fileTypeError").css("display", "block");
            } else
                $("#fileTypeError").css("display", "none");

            if (!file) {
                isValid = false;
                $("#fileError").css("display", "block");
            } else
                $("#fileError").css("display", "none");

            return isValid;
        }
    </script>
}
