﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />


    @using Enetel.BLL.Helpers;

    @{
        var isSidebarOpen = Session["IsSidebarOpen"] != null ? (bool)Session["IsSidebarOpen"] : false;
        var logedInUser = Identity.GetLogedInUserName();
    }

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datetime/css")
</head>
<body>

    <div class="page-wrapper chiller-theme @(isSidebarOpen ? "toggled" : "")">
        <a id="show-sidebar" class="btn btn btn-dark show-navbar-btn" href="#">
            <i class="fa fa-angle-double-right"></i>
        </a>

        <nav id="navbar" class="navbar-wrapper">
            <img name="logo" class="pointable" src="~/Images/navbar_image.png" width="150" height="35" />

            <div class="dropdown" style="margin: auto 0 auto auto;">
                <a class="dropdown-toggle dropdown-toggle-override" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @logedInUser
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" style="color:#2125298f;" id="changePassword" href="#"><i class="fa fa-key"></i> Change password</a>
                    <a class="dropdown-item" style="color:#2125298f;" href="/Login/Logout"><i class="fa fa-sign-out"></i> Log out</a>
                </div>
            </div>
        </nav>

        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <div id="close-sidebar" style="margin-left:auto;">
                        <i class="fa fa-angle-double-left"></i>
                    </div>
                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li>
                            <a href="/Policy" class="@((string)Session["CURRENTPAGE"] == "POLICIES" ? "active-navlink" : "" )">
                                <i class="fa fa-cubes"></i>
                                <span>Policies</span>
                            </a>
                        </li>
                        <li>
                            <a href="/CensusChangeReq" class="@((string)Session["CURRENTPAGE"] == "CENSUSCHANGEREQ" ? "active-navlink" : "" )">
                                <i class="fa fa-archive"></i>
                                <span>Change Requests</span>
                            </a>
                        </li>
                        @if ((bool)Identity.PortalUserSession.canAccessInvoices)
                        {
                            <li>
                                <a href="/Invoice" class="@((string)Session["CURRENTPAGE"] == "INVOICE" ? "active-navlink" : "" )">
                                    <i class="fa fa-book"></i>
                                    <span>Invoices</span>
                                </a>
                            </li>
                        }
                        @if ((bool)Identity.PortalUserSession.ene_Admin)
                        {
                            @*<li class="sidebar-dropdown">
                                    <a href="#">
                                        <i class="fa fa-users"></i>
                                        <span>Users</span>
                                    </a>
                                    <div class="sidebar-submenu">
                                        <ul>
                                            <li>
                                                <a href="/PortalUser" class="@((string)Session["CURRENTPAGE"] == "PORTALUSER" ? "active-navlink" : "" )">
                                                    <span>Users</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Person" class="@((string)Session["CURRENTPAGE"] == "PERSON" ? "active-navlink" : "" )">
                                                    <span>Persons</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>*@

                            <li>
                                <a href="/PortalUser" class="@((string)Session["CURRENTPAGE"] == "PORTALUSER" ? "active-navlink" : "" )">
                                    <i class="fa fa-users"></i>
                                    <span>Users</span>
                                </a>
                            </li>

                            <li>
                                <a href="/Person" class="@((string)Session["CURRENTPAGE"] == "PERSON" ? "active-navlink" : "" )">
                                    <i class="fa fa-user"></i>
                                    <span>Persons</span>
                                </a>
                            </li>

                            <li>
                                <a href="/Log" class="@((string)Session["CURRENTPAGE"] == "LOG" ? "active-navlink" : "" )">
                                    <i class="fa fa-folder"></i>
                                    <span>Logs</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>
    </div>

    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div id="changePasswordErrorContainer"></div>

                    <div class="form-group">
                        <label class="control-label col-md-12">Old Password</label>
                        <div class="col-md-12">
                            <input type="password" id="oldPassword" name="oldPassword" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-12">New Password</label>
                        <div class="col-md-12">
                            <input type="password" id="newPassword" name="newPassword" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-12">New Password Confirm</label>
                        <div class="col-md-12">
                            <input type="password" id="newPasswordConfirm" name="newPasswordConfirm" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="changePasswordChange" type="button" class="btn btn-primary btn-sm">Change</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://use.fontawesome.com/c10f9adc59.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    @Scripts.Render("~/Content/js")
    @RenderSection("scripts", required: false)

    <script>
        $("[name=logo]").on("click", () => {
            location.href = "/Policy";
        })

        $(document).ajaxComplete(function () {
            $('[data-toggle="tooltip"]').tooltip({
                "html": true,
                "delay": { "show": 100, "hide": 100 }
            })
        })

        $("#changePassword").on("click", () => {
            $("#changePasswordModal").modal();
        })

        $("#changePasswordChange").on("click", (e) => {
            let oldButtonText = $(e.target).text();

            $(e.target).html(`<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>`);

            let oldPass = $("#oldPassword").val();
            let newPass = $("#newPassword").val();
            let newPassConf = $("#newPasswordConfirm").val();

            $.ajax({
                url: "/PortalUser/ChangePassword",
                type: "POST",
                data: {
                    oldPassword: oldPass,
                    newPassword: newPass,
                    newPasswordConfirmation: newPassConf
                },
                dataType: "json",
                success: (res) => {

                    $(e.target).html(oldButtonText);

                    if (res.Code != 200)
                        toastr.error(res.Message);
                    else {
                        toastr.success(res.Message);
                        $("#changePasswordModal").modal("hide");
                    }

                },
                error: (err) => {

                }
            })
        })
    </script>
</body>
</html>
