﻿input[type=date] {
    position: relative;
    height:40px;
    color: black;
}

input[type=date]:before {
    position: absolute;
    content: attr(data-date);
    display: inline-block;
    color: black;
}

input[type=date]::-webkit-datetime-edit, input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-clear-button {
    display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    color: black;
    opacity: 0.7;
    cursor:pointer;
}
