﻿body {
    background-color: white;
}

.login-form-container {
    width: 35%;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.btnS {
    width: 100% !important;
    margin: auto;
    background-color: rgba(125, 41, 56, 1);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    border-color: white;
    font-weight: 500;
    color: white;
}

    .btnS:hover {
        background-color: rgba(125, 41, 56, 0.9);
    }

.center {
    text-align: center;
}

.shadow {
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}

.error-outline {
    border-color: rgba(125, 41, 56, 0.8);
    box-shadow: 0 0 10px rgba(125, 41, 56, 0.8);
}

@media screen and (max-width:600px) {
    .login-form-container {
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        transform: none;
    }
}
