﻿body {
    background-color: rgba(248, 248, 248, 1);
}

.pointable {
    cursor: pointer;
}

.actionButtonCell {
    text-align: center;
}

.actionButton {
    margin: 0 5px;
    padding: 10px;
    color: rgba(0,0,0,0.7);
}

    .actionButton:hover {
        color: rgba(0,0,0,0.4);
    }

.card-override {
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
    border: none;
}

.table-hover-override tbody tr:hover {
    background-color: rgba(248,248,248,1);
}

.dropdown-toggle-override {
    color: rgba(0,0,0,0.4) !important;
    text-decoration: none !important;
}

.left-container {
    text-align: right;
    padding: 0 2px;
}

.left-container-text {
    border-right: 2px solid rgba(0,0,0,.3);
    padding: 0 5px;
    font-weight: 600;
}

.right-container {
    text-align: left;
    padding: 0 2px;
}

.right-container-text {
    border-left: 1px solid rgba(0,0,0,.3);
    padding-left: 5px;
}

.table th {
    font-weight: bold;
    padding: 5px !important;
    text-align: center;
}

tr td{
    text-align:center;
}

.tooltip-qm {
    font-size: 12px;
}

.tooltip-inner {
    font-size: 12px;
    padding: 10px 20px;
    background: #7d2938;
    color: white;
    border: none;
}

.tooltip.show {
    opacity: 1;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #7d2938 !important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: #7d2938 !important;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    border-left-color: #7d2938 !important;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    border-right-color: #7d2938 !important;
}


.btn-primary {
    background-color: #428bca !important;
    border-color: #428bca !important;
}

    .btn-primary:hover {
        background-color: rgba(66, 139, 202, 0.9) !important;
        border-color: rgba(66, 139, 202, 0.9) !important;
    }

.btn-default {
    font-size: 1rem !important;
    padding: 5px 15px;
    color:rgba(0,0,0,0.5) !important;
}

.btn-default-border {
    border:1px solid rgba(0,0,0,0.2);
}

.btn-default:hover{
    background-color:rgba(0,0,0,0.1);
color:rgba(0,0,0,1) !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: rgba(0,0,0, 0.2);
}

.display-flex {
    display: flex;
}

.move-right-flex {
    margin-left: auto;
}

.flex-item-vertical-center {
    margin: auto 0 !important;
}

.fw-3{
    font-weight:300;
}

.error{
    color:rgba(195, 1, 1, 0.7)
}

@media screen and (max-width:600px) {
    .left-container {
        width: auto;
    }

    .right-container {
        width: auto;
    }

    .btn-sm {
        max-height: 30px;
    }
}

table.dataTable thead th, table.dataTable thead td{
    border-bottom:inherit;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #dee2e6;
}