﻿@{
    ViewBag.Title = "Portal Users";
}

<div class="card card-override mb-4">
    <div class="card-body">
        <div class="display-flex">
            <a href="/PortalUser/Create"
               class="btn btn-default btn-sm move-right-flex actionButton"
               id="addNewPortalUser"
               name="addNewPortalUser"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add New</a>
        </div>
    </div>
</div>

<div class="card card-override">
    <div class="card-body" style="overflow-y:auto;">
        <table id="portalUsersTable" class="table table-hover-override table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Created On
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/EnetelScripts/DataTables/PortalUserDataTable.js"></script>
}