﻿@model Enetel.DTO.PortalUserDTO

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/c10f9adc59.js"></script>

    @Styles.Render("~/Content/login/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

@using (Html.BeginForm("CheckLogin", "Login", new { Model }, FormMethod.Post))
{
    if (TempData["AuthenticationMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show center" role="alert">
            @TempData["AuthenticationMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="card-body login-form-container">
        <div class="card card-login mx-auto mt-5 shadow">
            <div class="card-header" style="text-align:center;"><img name="logo" src="~/Images/dh_insurance.png" /></div>
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1"><i class="fa fa-user"></i>  Username</label>
                    <input class="form-control @(TempData["AuthenticationMessage"] != null ? "error-outline" : "")" type="text" name="ene_name" id="ene_name" placeholder="username">
                    @Html.ValidationMessageFor(model => model.ene_name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-4">
                    <label for="exampleInputPassword1"><i class="fa fa-lock"></i>  Password</label>
                    <input class="form-control @(TempData["AuthenticationMessage"] != null ? "error-outline" : "")" id="ene_Password" name="ene_Password" placeholder="password" type="password">
                    @Html.ValidationMessageFor(model => model.ene_Password, "", new { @class = "text-danger" })
                </div>

                <button class="btn btn-lg btn-block btn-signin btnS" type="submit">Sign In</button>
            </div>
        </div>
    </div>
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
@Scripts.Render("~/bundles/jqueryval")
