﻿@{
    ViewBag.Title = "Event Logs";
}

<div class="card card-override">
    <div class="card-body">
        <div style="overflow-y:auto;">
            <table id="logsTable" class="table table-hover-override table-bordered">
                <thead>
                    <tr>
                        <th>
                            Action Type
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Long Description
                        </th>
                        <th>
                            Object Type Code
                        </th>
                        <th>
                            Created On
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/EnetelScripts/DataTables/LogDataTable.js"></script>
}
